.action__btn {
    margin: 20px 0;
    background: none;
    font-size: 15px;
    font-weight: bold;
    border: 1px grey solid;
    border-radius: 2px;
    padding: 10px 20px;
}

.action__btn:hover {
    border: 2px black solid;
}